.search-results {
    ul {
        display: inline-block;
        list-style-type: none;
        width: 60%;
    }
    li {
        padding-bottom: 10px;
        a {
            font-size: large;
            &:hover {
                cursor: pointer;
            }
        }
    }
    padding: 10px 0 10px 0;
}

.search-input {
    padding: 10px;
    width: 40%;
}
.search-button {
  background-color: #FF5F1F;
  border: #FF5F1F;
  color: white;
  padding: 11px;
}
.search-button:hover {
  background-color: black;
}