.table-class {
    margin-left: 10px;
    margin-top: 10px;


    thead {
        background-color: gainsboro;
    }

    table {
        border-collapse: collapse;
        border: 1px solid gainsboro;
    }

    tr { 
        border: solid gainsboro;
        border-width: 1px 0;
    }
    
    table {
        background: white;
        margin-left: 50px;
        width: 90%
    }
      
    th, td {
        padding: 10px;
    }
}
  
