.design-page {
    background-color: white;
    max-width: 1314px;
    overflow-x: auto;
    font-family: Arial;
    font-size: 16px;
    color: #002c4d;

    .main-banner {
        position: relative;
        text-align: center;
        color: white;
        img {
            width: 100%;
        }
        .desktop {
            font-size: 64px;
        }
        .mobile {
            font-size: 48px;
        }
    }

    .desktop {
        .blue-button {
            width: 35%;
        }
        .pink-button {
            width: 55%;
        }
    }
    .mobile {
        .blue-button {
            width: 85%;
        }
        .pink-button {
            width: 80%;
        }
    }

    .design-button {
        color: white;
        font-size: 13px;
        height: 45px;
        letter-spacing: 1px;
        &:hover {
            cursor: pointer;
        }
    }

    .blue-button {
        @extend .design-button;
        background-color: #3a6b82;
        border: 2px solid #3a6b82;
        &:hover {
            background-color: #2e5568;
        }
    }

    .pink-button {
        @extend .design-button;
        background-color: #be85a5;
        border: 2px solid #be85a5;
        &:hover {
            background-color: #986a84;
        }
    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        label {
            font-weight: bold;
        }
    }

    .our-shop.desktop {
        label {
            font-size: 44px;
            font-weight: bold;
        }
        p {
            margin-top: 30px;
        }        
        margin-top: 30px;
    }
    .our-shop.mobile {
        label {
            font-size: 28px;
            font-weight: bold;
        }
        p {
            margin-top: 20px;
        }
        margin-top: 20px;
    }

    .flex-container {
        display: flex;
        align-items: center;
    }

    .product-container {
        @extend .flex-container;
        .product-item {
            flex-basis: 25%;
        }
        .price {
            font-weight: bold;
        }
    }
    .product-container.mobile {
        flex-wrap: wrap;
        .product-text {
            min-height: 4.3em;
        }
        .product-item {
            margin-right: 20px;
            margin-top: 20px;
        }
        img {
            height: 230px;
        }
    }
    .product-container.desktop {
        .product-text {
            min-height: 2.3em;
        }
        img {
            height: 350px;
        }
    }
    .visit-shop.desktop {
        margin-top: 50px;
        margin-bottom: 80px;
        .blue-button {
            width: 18%;
        }
    }
    .visit-shop.mobile {
        margin-top: 40px;
        margin-bottom: 60px;
        .blue-button {
            width: 40%;
        }
    }

    .block-container {
        @extend .flex-container;
        .block-item {
            flex-basis: 30%;
        }
        img {
            height: 260px;
        }
    }
    .block-container.desktop {
        .block-item {
            margin-right: 30px;
        }
    }
    .block-container.mobile {
        justify-content: center;
        flex-wrap: wrap;
        .block-item {
            margin-bottom: 20px;
        }
    }

}


