
.App {
  text-align: center;
}

.table-class {
  margin-left: 10px;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid grey;
  text-align: left;
}
table {
  background: white;
  margin-left: 50px;
  width: 90%
}

th, td {
  padding: 10px;
}

a {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.page-with-sidebar {
  display: flex;
}

nav  {
  height: 97vh;
  padding: 10px;
  width: 20%;
}

li {
  margin-left: 10px;
  text-align: left;
}

.link:hover {
  color: #FF5F1F;
}

img {
  height: 150px;
  padding: 10px 0 10px 0;
  width: 60%;
}

.main-content {
  background-color: #F3F7FB;
  width: 100%;
}