
.App {
  text-align: center;
  li {
    margin-left: 10px;
    margin-bottom: 4px;
    text-align: left;
  }
  
  .link:hover {
    color: #FF5F1F;
  }
  a {
    text-decoration: none;
  }
}

.page-with-sidebar.desktop {
  display: flex;
  nav {
    height: 97vh;
    padding: 10px;
    width: 20%;
  }
}
.page-with-sidebar.mobile {
  flex-direction: column;
  nav {
    padding: 20px;
    width: 100%;
  }
  ul {
    display: flex;
  }
}
.page-with-sidebar.dark {
  nav {
    background-color:darkslategrey;
    .link {
      color: white;
    }
    label {
      color: white;
    }
  }
}
.theme-select {
  text-align: left;
  padding-left: 10px;
}

.main-content {
  width: 100%;
}
.main-content.dark {
  background-color:lightslategray;
  label {
    color: white;
  }
  color: white;
  .banner-header {
    background-color:darkslategrey;
  }
  table {
    background-color: lightslategray;
  }
  .pagination-item {
    color: white;
  }
  .box {
    background-color: darkslategrey;
  }
}

.main-content.light {
  background-color:#F3F7FB;
  .box {
    background-color: white;
    color: black;
  }
}

input[type="checkbox"] {
  float: left;
  position: relative;
  bottom: -3px;
  margin-right: 4px;
}