.tab-list {
    display: flex;
    div {
        background: #e2e5e7;
        border: 1px solid transparent;
        border-bottom: none;
        color: #888;
        line-height: 1.3;
        margin-left: 6px;
        margin-top: 6px;
        padding: 6px 11px;
        position: relative;
        &.current {
            background: #223645;
            color: #fff;
        }
    }
}